@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Kalnia:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  @apply p-0 m-0;
}

body{
  @apply min-h-screen w-full scroll-smooth bg-gray-100 box-border;
}

.logo{
    font-family: "Clicker Script", cursive;
}

.icons {
  @apply opacity-30 z-10  absolute text-xl;
}

.intro{
  font-family: "Rouge Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.card{
  -webkit-backdrop-filter: blur( 18.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  box-shadow: 0 4px 4px 0 rgba( 31, 38, 135, 0.37 );
}

.bar{
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  -webkit-backdrop-filter: blur( 20px );
}