@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Kalnia:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

body{
  box-sizing: border-box;
}

.logo{
    font-family: "Clicker Script", cursive;
}

.icons {
  @apply opacity-30 z-10  absolute text-xl;
}

.intro{
  font-family: "Rouge Script", cursive;
  font-weight: 400;
  font-style: normal;
}