@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Kalnia:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  @apply p-0 m-0 box-border;
}

body{
  @apply min-h-screen scroll-smooth bg-gray-100 box-border;
}

.logo{
    font-family: "Clicker Script", cursive;
}

.icons {
  @apply opacity-30 z-10  absolute text-xl;
}

.intro{
  font-family: "Rouge Script", cursive;
  font-weight: 400;
  font-style: normal;
}